<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Search</title>
</head>
<body>
    <div class="mt-5 ml-5 d-flex justify-content-center align-items-center">
        <div class="form-group">
            <label for="Search">Search</label>
            <input type="text" class="form-control" name="search" id="search" aria-describedby="helpId" placeholder="">
            <button type="button" class="btn btn-primary" onclick="getMovies(document.getElementById('search').value)">Search</button>
        </div>
    </div>
    <div class="mt-5 ml-5 d-flex justify-content-center align-items-center">
        <div class="searchResults"></div>
    </div>
    <script>
        // const OMDBApikey = "f28d89c8";
        // const baseURL = "http://www.omdbapi.com/?apikey=" + OMDBApikey +"&";

        // function getMovies(searchString) {
        //     $.get(baseURL + "s=" + searchString, function(searchResults) {
        //         console.log(searchResults);
        //         let table = '<table><thead><tr><th>Title</th><th>Year</th><th></th></tr></thead><tbody>';
        //         searchResults.Search.forEach(element => {
        //             table += '<tr><td>' + element.Title + '</td><td>' + element.Year 
        //                 + '</td><td><button type="button" class="btn btn-primary detailsButton" id="'
        //                 + element.imdbID + '">View Details</button></td></tr>';
        //         });
        //         table += '</tbody></table>';

        //         $(".searchResults").append(table);
        //     });

        //     $(".detailsButton").click(function() {
        //         let movieID = $(this).attr("id");
        //         console.log(movieID);
        //     });
        // }
    </script>
    <script src="/TeamActivity11/mainViewScript.js"></script>
</body>
</html>