<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Search</title>
</head>
<body>
    <div class="mt-5 ml-5 d-flex justify-content-center align-items-center">
        <div class="form-group">
            <label for="Search">Search</label>
            <input type="text" class="form-control" name="search" id="search" aria-describedby="helpId" placeholder="">
            <button type="button" class="btn btn-primary" onclick="getMovies(document.getElementById('search').value)">Search</button>
        </div>
    </div>
    <div class="mt-5 ml-5 d-flex justify-content-center align-items-center">
        <div class="searchResults"></div>
    </div>
    <script src="/TeamActivity11/mainViewScript.js"></script>
</body>
</html>