<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <% include ../partials/navbar %>
    <div class="mt-5 d-flex">
        <div class="container align-center col-4">
            <div class="form-group">
                <label for="Contact">Add Contact</label>
                <input type="text" class="form-control" name="Contact" id="Contact" aria-describedby="helpId" placeholder="Username">
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
        <div class="container align-center col-8">
            <ul class="list-group ml-5">
                <?php
                    if (isset($db))
                    {
                        $statement = $db->prepare('SELECT u.user_id as id, u.username as username, u.first_name as first_name, u.last_name as last_name
                                                    FROM users u RIGHT JOIN contacts c
                                                        ON c.owner_contact_id = u.user_id
                                                    WHERE owner_id = :id;');
                        $statement->execute(array(':id' => $userID));
                        $resultSet = $statement->fetchALL(PDO::FETCH_ASSOC);

                        foreach ($resultSet as $row)
                        {
                            echo '<li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 align-center"><p style="display:inline;">' . $row['username'] . '</p></div>
                                        <div class="col-4 align-center"><p style="display:inline;">' . $row['first_name'] . ' ' . $row['last_name'] . '</p></div>
                                        <form action="contactManagement.php" method="post">
                                            <input type="hidden" name="Remove" id="' . $row['id'] . '" value="'  . $row['id'] . '">
                                            <div class="col-4 align-center"><button type="submit" class="btn btn-danger" style="display:inline;">Remove</button></div>
                                        </form>
                                    </div>
                                </li>';
                        }
                    }
                ?>
            </ul>
        </div>
    </div>
</body>
</html>