<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <% include ../partials/navbar %>
    <div class="mt-5 d-flex">
        <div class="ml-5 p-3">
            <!-- <a href="composeMessage.php"><button type="button" class="btn btn-primary">Compose</button></a> -->
            <ul class="list-group">
            </ul>
        </div>
        <div class="mt-3 ml-5">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <script src="/Ponder11/messageInbox.js"></script>
</body>
</html>