<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script>
        $.get("./getInbox", function(endResult) {
            document.getElementById("result").innerHTML = endResult.messages;
        });
    </script>

</head>
<body>
    <% include ../partials/navbar %>
    <div>
        <p style="display:inline">Something should be hrere:</p>
        <p id="result" style="display:inline"></p>
    </div>
</body>
</html>

